<%= render "shared/header" %>
<div class="main">

  <div class='share-contents'>
    <h2 class='title'>シェアハウス</h2>
    <%= link_to 'じっくり見てね', "#", class: "subtitle" %>
    <ul class='share-lists'>
      
    </ul>
  </div>
</div>